p#photo {
	display: inline-block;
	line-height: 0;
	overflow: hidden;
	position: relative;
	margin: 0;
	background: url('./artefact2.avif');

	&> img { opacity: 0; }
}

$height: 60px;
$scandur: 5s;
p#photo:hover > span {
        &, &:before, &:after {
		position: absolute;
		width: 100%;
		height: $height;
		background-blend-mode: multiply;
	}

        &:before, &:after {
		content: "";
		mix-blend-mode: screen;
	}

	background: linear-gradient(to right, #00ff00, #00ff00),
		    url('./artefact2.avif');
	animation: $scandur linear infinite scanlines1,
		   $scandur steps(128) infinite scanlines2,
		   1.9s steps(1) infinite alternate scanlines5;
	left: 0;

	&:before {
		background: linear-gradient(to right, #ff0000, #ff0000),
			    url('./artefact2.avif');
		animation: $scandur steps(127) infinite scanlines2,
			   2s steps(1) infinite scanlines3;
	}

	&:after {
                left: 5px;
		background: linear-gradient(to right, #0000ff, #0000ff),
			    url('./artefact2.avif');
		animation: $scandur steps(129) infinite scanlines2,
			   2.1s steps(1) infinite scanlines4;
	}
}

@keyframes scanlines1 {
	from { top: -$height; }
	to { top: 256px; }
}
@keyframes scanlines2 {
	from { background-position: 0 0, 0 $height; }
	to { background-position: 0 0, 0 -256px; }
}
@keyframes scanlines3 {
	0% { left: -5px; }
	80% { left: -10px; }
	83% { left: -5px; }
	90% { left: -15px; }
	93% { left: -5px; }
        100% { left: -5px; }
}
@keyframes scanlines4 {
	0% { left: 5px; }
	30% { left: 20px; }
	33% { left: 5px; }
	62% { left: 10px; }
	65% { left: 5px; }
	70% { left: 15px; }
	73% { left: 5px; }
        100% { left: 5px; }
}
@keyframes scanlines5 {
	0% { left: 0px; }
        20% { left: 10px; }
	23% { left: 0px; }
        66% { left: 7px; }
	69% { left: 0px; }
        95% { left: -8px; }
	98% { left: 0px; }
        100% { left: 0px; }
}

body#merror {
	font-family: monospace;
	background-color: black;
	font-weight: bold;

	position: absolute;
	max-width: unset;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;


	&> div {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		color: red;
		text-align: center;
		width: 40em;
		border: 5px solid red;
		box-sizing: border-box;

		animation: blinkborder 1s infinite;

		&> p {
			margin: .25em 0;
		}
	}

	&> a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@keyframes blinkborder {
	0% { border-color: red; }
	50% { border-color: red; }
	50.1% { border-color: transparent; }
	100% { border-color: transparent; }
}
